.navbar-custom {
    background-color: #1D1842 !important; 
    margin-left: 30px;
  }
  
  .user{
  color: white;
  margin-right: 10px;
  }
  
  #logout{
  
    margin-right: 40px;
  }
  
  #theme{
  margin-right:750px;
  }