<table class="table table-secondary mt-4" id="gameTable">
  <thead>
    <tr>
      <th scope="col">Level</th>
      <th scope="col">Phrase</th>
      <th scope="col">Remaining</th>
      <th scope="col">Answer</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let level of gameLevels" (click)="openGame(level.id)">
      <td>{{ level.level }}</td>
      <td>
        <div class="phrase-container" style="width: 350px;">
          <span *ngFor="let letter of level.phrase" class="letter-box"
                [ngStyle]="{
                  'background-color': level.wordBackground,
                  'color': letter !== '_' ? level.textBackground : 'transparent',
                  'font-family': level.font
                }">
            {{ letter !== '_' ? (letter | uppercase) : '_' }}
          </span>
        </div>
      </td>
      <td>{{ level.remaining }}</td>
      <td>
        <ng-container *ngIf="level.status === 'loss' || level.status === 'victory'">
          {{ level.answer }}
        </ng-container>
      </td>
      <td>{{ level.status }}</td>
    </tr>
  </tbody>
</table>
