.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

.row {
  margin-top: 80px;
  height: 80px;
  background-color:#e6e3e3;
  border-radius: 8px;
  margin: 0; 
}

.custom-select {
  height: 100px;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-group-text {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  width: 100px;
}

.input-color-picker {
  width: 100px;
  height: calc(2.25rem + 2px);
  padding: 0;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn {
  border: none;
  color: #fff;
  margin-left: 5px;
}

.btn-info {
  background-color: #17a2b8;
}

.btn-success {
  background-color: #28a745;
}

.form-group {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.label {
  margin: auto;
  width: auto;
}

@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
  .form-group {
    flex-basis: 100%;
    max-width: 100%;
  }
  .btn {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
}
