<div class="game-container" [style.background-image]="'url(' + currentGif + ')'">

    <!-- Top bar with guesses remaining, guess input, guess button, and exit button -->
    <div class="top-bar">
      <!-- Left aligned items for guesses and the guess button -->
      <div class="left-items">
        <div>{{ remainingGuesses }} guesses remaining</div>
        <input type="text" id="guessInput" [(ngModel)]="userGuess" maxlength="1">
        <button (click)="makeGuess()">Guess</button>
      </div>
      
      <!-- Right aligned exit button -->
      <div class="right-items">
        <button class="exit-game-btn" (click)="exitGame()">X</button>
      </div>
    </div>

    <div class="word-boxes">
      <div *ngFor="let letter of currentWordArray; let i = index" class="letter-box"
           [ngStyle]="{
             'background-color': colors.wordBackground,
             'color': colors.textBackground,
             'font-family': fontStyle
           }">
        {{ getBoxLetter(i) | uppercase }}
      </div>
    </div>
     <!-- Incorrect guesses container -->
     <div class="incorrect-guesses">
      <div *ngFor="let guess of incorrectGuessesArray"
           [ngStyle]="{
             'background-color': colors.guessBackground,
             'color': colors.textBackground,
             'font-family': fontStyle
           }"
           class="guess-box">
        {{ guess}}
      </div>
    </div>
    
  </div>
  
  
  