<div class="container-fluid">
  <div class="row align-items-center  py-2">
    <div class="col form-group">
      <label for="fontSelect">Font:</label>
      <select id="fontSelect" class="custom-select" [(ngModel)]="selectedFont">
        <option *ngFor="let font of fonts" [ngValue]="font">{{ font }}</option>
      </select>
    </div>

    <div class="col form-group">
      <label for="levelSelect">Level:</label>
      <select id="levelSelect" class="custom-select" [(ngModel)]="selectedLevel">
        <option *ngFor="let level of levels" [ngValue]="level">{{level.name}}</option>
      </select>
    </div>

    <div class="col-auto form-group">
      <label for="wordBackground" class="input-group-text">Word</label>
      <input type="color" id="wordBackground" class="form-control input-color-picker" [(ngModel)]="colors.wordBackground">
    </div>

    <div class="col-auto form-group">
      <label for="guessBackground" class="input-group-text">Guess</label>
      <input type="color" id="guessBackground" class="form-control input-color-picker" [(ngModel)]="colors.guessBackground">
    </div>

    <div class="col-auto form-group">
      <label for="textBackground" class="input-group-text">Fore</label>
      <input type="color" id="textBackground" class="form-control input-color-picker" [(ngModel)]="colors.textBackground">
    </div>

    <div class="col-auto form-group">
      <button type="button" class="btn btn-info" id="set-theme" (click)="setTheme()">Set Theme</button>
    </div>

    <div class="col-auto form-group">
      <button type="button" class="btn btn-success" id="start-new-game" (click)="newGame()">New Game</button>
    </div>
  </div>
</div>
